main {
    margin-top: 80px;
}

.main__signup {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 80%;
    max-height: 700px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 25px;
    overflow: hidden;
}

.main__signup img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.main__signup__content {
    width: 50%;
}

.main__signup__content h2 {
    color: var(--black);
    text-align: center;
    font-size: 60px;
}

.main__signup__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.main__signup__content__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 100px;
}

.main__signup__content__form__submit {
    background-color: var(--black);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
}

.main__signup__redirectToSignin {
    text-align: center;
}