main {
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.main__section__categoryBurger__h2,
.main__section__categoryDrink__h2,
.main__section__categoryAccompaniment__h2,
.main__section__categoryDessert__h2 {
    color: var(--black);
    font-size: 50px;
    margin-bottom: 50px;
}

.main__section__categoryBurger__manager,
.main__section__categoryDrink__manager,
.main__section__categoryAccompaniment__manager,
.main__section__categoryDessert__manager {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.main__section__categoryBurger__manager__container,
.main__section__categoryDrink__manager__container,
.main__section__categoryAccompaniment__manager__container,
.main__section__categoryDessert__manager__container {
    width: 350px;
    height: 440px;
    cursor: pointer;
    padding: 10px;
    transition: all .1s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__section__categoryBurger__manager__container:hover,
.main__section__categoryDrink__manager__container:hover,
.main__section__categoryAccompaniment__manager__container:hover,
.main__section__categoryDessert__manager__container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main__section__categoryBurger__manager__container__image img,
.main__section__categoryDrink__manager__container__image img,
.main__section__categoryAccompaniment__manager__container__image img,
.main__section__categoryDessert__manager__container__image img {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.main__section__categoryBurger__manager__container__content,
.main__section__categoryDrink__manager__container__content,
.main__section__categoryAccompaniment__manager__container__content,
.main__section__categoryDessert__manager__container__content {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
}